.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.Cart .cart-item {
  height: 15vh;

  background: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  column-gap: 20px;
}
.Cart h2 {
  margin-top: 100px;
  color: rgb(45, 43, 75);
  font-family: "Times New Roman", Times, serif;
}

.Cart .cart-item .cart-item-image {
  height: 100%;
  width: 20%;
}
.Cart .cart-item .cart-item-image img {
  height: 100%;
  width: 100%;
}
.Cart .cart-item .cart-item-delete {
  margin-left: auto;
}

.Cart button,
.total-sum {
  margin-left: 30%;
}
.Cart .total-sum {
  width: 200px;
  text-align: center;
  padding: 20px 0px;
}

.Cart button {
  width: 200px;
  height: 50px;
  outline: none;
  padding: 5px 5px;
  background-color: rgb(98, 204, 116);
  border: none;
  border-radius: 20px;
  font-size: inherit;
  color: white;
  transition: all 1s;
  margin-bottom: 100px;
}
.Cart button:hover {
  background-color: rgb(28, 177, 53);
}

@media (max-width: 1000px) {
  .Cart button,
  .total-sum {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .Cart .cart-item {
    width: 90%;
  }
  .Cart .cart-item .cart-item-image {
    width: 20%;
  }
}
